<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/showProduct.css" />
</head>

<body>
    <nav>
        <%- include ('./partials/nav.ejs') %>
    </nav>
    <div class="flex-container">
        <div id="product">
            <img src=<%=product.image %> width="300"/>
            <h1>
                <%=product.name%>
            </h1>
            <p>
                Description: <%= product.description %>
            </p>
            <form action="/product/<%= product._id %>?_method=put" method="post">
                <label for="quantity">In Stock: <%= product.quantity %></label>
                <button class="button-85" type="submit">Buy</button>
            </form>
            <p>
                Price: $<%= product.price %>
            </p>
        </div>
        <form action="/product/<%= product._id %>?_method=delete" method="post">
            <button class="button-85" type="submit">Delete Product</button>
        </form>
        <a href="/product/<%= product._id %>/edit"><button class="button-85">Edit Product</button></a>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>