<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/home.css" />
</head>

<body>
    <nav>
        <%- include ('./partials/nav.ejs') %>
    </nav>
    <div id = 'product-container'>
            <% for (let product of products) { %>
                <div id="product">
                    <img src = <%= product.image %> width="300" height="300">
                    <a href="/product/<%= product._id %>"><h2 id="productName"> <%= product.name %></h2></a>
                    <p class="productDetail"> Price: $<%= product.price %></p>
                    <% if(product.quantity > 0) { %>
                        <p class="productDetail"> Quantity: <%= product.quantity %></p>
                    <% } else { %>
                        <p class="productDetail"> Out of Stock </p>
                    <% } %>
                    <p class="productDetail"> <%= product.description.substring(0,35) %> ...</p>
                </div>
            <% } %>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>